.client-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    border: 1px solid lightgray;

    li {
        display: flex;
        justify-content: space-between;
        padding: remConverter(8) remConverter(12) ;

        .cpf {
            flex: 2;
        }
        .name {
            flex: 3;
        }
        .email {
            flex: 3;
        }

        &:not(:last-child) {
            border-bottom: 1px solid lightgray;
        }
        &:nth-child( 2n + 1 ) {
            background-color: rgb(230, 240, 243);
        }
    }
}

.button-area-client {
    display: flex;
    justify-content: end;
}