$decor-color-primary    : #2C231A;
$decor-color-secundary  : #976241;

$decor-color-text-black : #1b1b1b;
$decor-color-text-gray  : #6D6D6D;
$decor-color-text-white : #f1f1f1;

$decor-color-background : #F5F5F7;
