#description-area {
    display: flex;
    max-width: remConverter(800);
    width: fit-content;
    gap: remConverter(50);

    padding-top: remConverter(70);
    padding-bottom: remConverter(130);
    color: #1D1D1B;

    .description {
        display: flex;
        flex-direction: column;
        align-items: center;

        gap: remConverter(32);
        max-width: remConverter(450);

        .title-description {
            font-size: remConverter(28);
            font-weight: 500;
            width: 100%;

            &::after {
                content: '';
                display: block;
                width: remConverter(40);
                height: remConverter(4);
                background-color: #8F6244;
            }
        }

        .description-text {
            font-size: remConverter(24);
            font-weight: 400;
        }
    }

    .status {
        display: flex;
        flex-direction: column;
        width: fit-content;
        gap: remConverter(12);

        background: #1D1D1B;
        padding: remConverter(40);

        position: relative;
        overflow: hidden;
        height: fit-content;
        &::after {
            content: '';
            display: block;
            width: remConverter(60);
            height: remConverter(300);

            position: absolute;

            background-color: #F2F2F2;
            position: absolute;
            top: remConverter(-128);
            left: remConverter(-34);
            transform: rotate(50deg);
        }

        .title-status {
            font-size: remConverter(28);
            font-weight: 300;
            color: #F8F8F8;
        }

        .status-list{
            list-style: none;
            display: flex;
            flex-direction: column;
            gap: remConverter(12);

            li {
                color: #F8F8F8;
                display: flex;
                gap: remConverter(16);
                font-size: remConverter(20);
                align-items: center;
                .circle {
                    background-color: #D9D9D9;

                    border-radius: 50%;
                    
                    display: inline-block;
                    width: remConverter(28);
                    height: remConverter(28);
                    
                    &.active {
                        background-color: #08BC15;
                    }
                }
            }
        }
    }
}

@media (max-width : remConverter(750)) {
    #description-area {
        flex-direction: column;
        gap: remConverter(32);
    }
}